body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-icon, .sidebar-icon-highlighted {
    @apply relative flex items-center justify-center;
    @apply h-12 w-12 mx-auto my-2;
    @apply rounded-lg hover:shadow-lg;
    @apply transition-all duration-100 ease-linear;
  }

  .sidebar-icon-highlighted {
    @apply bg-red-500 text-gray-800 shadow-lg;
    @apply hover:bg-gray-600;
  }

  .sidebar-icon {
    @apply bg-red-900 text-gray-50;
    @apply hover:bg-gray-800;
    @apply hover:text-red-800;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14;
    @apply rounded-md shadow-md;
    @apply text-white bg-gray-900;
    @apply text-xs font-bold;
    @apply transition-all duration-100 scale-0 origin-left
  }

  .connectivity-icon{
    
  }

  .connectivity-wraper-inactive, .connectivity-wraper-active {
    @apply inline mx-1 p-1 rounded shadow-lg;
    @apply justify-items-center;
    @apply w-10 h-10;
  }

  .connectivity-wraper-inactive {
    @apply text-white bg-transparent;
  }

  .connectivity-wraper-active {
    @apply text-black bg-red-100;
  }
}